URxvt.buffered:         true
URxvt.background:       black
URxvt.foreground:       white
URxvt.cursorColor:      green
URxvt.underlineColor:   yellow
URxvt.font:             xft:Dina:pixelsize=12:antialias=false
URxvt.boldFont:         xft:Dina:bold:pixelsize=14:antialias=false
URxvt.perl-ext-common:  default
